/* Font styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.primary-color{
    color: #FF900E;
}

.secondary-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

/* Header styles */

/* Navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;   
}
.brand{
    font-size: 2.8125rem;
    font-weight: bold;
}
.nav-items{
    gap: 30px;
    padding-left: 0;
}
.nav-item{
    list-style: none;
}
.nav-links{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section styles */
.banner-content{
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description{
    font-size: 1rem;
    margin-bottom: 32px;
}

.banner-image{
    width: 100%;
}

/* main section styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section styles */
.teams{
    gap: 73px;
    align-items: center;
    margin-top: 85px;
}

.teams-title{
    font-size: 2.8125rem;
    margin-bottom: 24px;
}
#quick{
    font-weight: 500;
}

#our, #feature{
    font-weight: 600;
}
.teams-description{
    font-size: 1rem;
    margin-bottom: 38px;
    max-width: 537px;
}

.teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* feature section styles */

.feature{
    align-items: center;
    gap: 146px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.feature-title{
    font-size: 2.8125rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 24px;
    margin-bottom: 24px;
}

.feature-description{
    font-size: 1rem;
    margin-bottom: 30px;
}

.fc-title{
    font-size: 1.25rem;
    font-weight: 600;
}

.fc-description{
    font-size: 1rem;
}

.feature-content{
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #727272;
}


/* Some facts section styles */

.some-title{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.some-description{
    font-size: 1rem;
    max-width: 545px;
    margin-bottom: 100px;
}

.some-rewards{
    justify-content: space-between;
    gap:125px;
    padding-left: 50px;
    padding-right: 50px;
}

.some-content{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
    flex: 1;
}

.sc-title{
    font-size: 2.8125rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sc-description{
    font-size: 1.25rem;
    font-weight: 600;
}

/* responsive sections */

@media screen and (max-width:576px){
    .navbar, .nav-items{
        flex-direction: column;
        text-align: center;
    }
    .teams{
        flex-direction: column-reverse;
    }
    .teams-content{
        text-align: center;
    }
    .teams-images{
        grid-template-columns: 1fr;
    }

    .feature, .some-rewards{
        flex-direction: column;
    }

    .feature-image img{
        width: 100%;
    }
}